nav {

	display: flex;
	align-items: center;
	color: white;
	background: linear-gradient(to top, #27d353, #00ff96);
	height: 130px;
	width: inherit;
	
}

nav .capture i{
    
    font-size: 40px;
}

nav .capture nobr {
    
    font-size: 30px;
    margin: 10px;
}

.capture {

	display: flex;
	height: 40px;
	align-items: center;
	padding-left: 50px;
}

.menu {
  
	font-size: 20px;
	padding-left: 0;
	width: 350px;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 100px;
	flex-wrap: wrap;
}

.nav-icons {

	display: flex;
	font-size: 40px;
	width: 200px;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: 300px;
}

body {

	padding: 0;
	margin: auto;
	width: 1280px;
	background: linear-gradient(to top, #27d353, #00ff96);
	background-size: cover;
	font-family: "Arial";
}

.take_photo {

	background-image: url("../images/sc1im.jpg");
	height: 550px;
	width: 900px;;
	background-size: 100%;
	background-repeat: no-repeat;
	box-shadow: inset 0 5px 15px;
	width: inherit;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.take_photo .text_block {
    
    height: 200px;
    display: flex;  
    flex-direction: column; 
    justify-content: space-between; 
    padding-right: 50px;
}

.take_photo .text_block .text1 {
    
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.take_photo .text_block .text2 {
    
    color: white; 
    font-size: 20px;
}

.take_photo .text_block .buttoms {

	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.take_photo .text_block .buttoms i{

	height: 60px;
	width: 212px;
	border: 2px solid white;
	color: white;
	font-size: 40px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.take_photo .text_block .buttoms i p {
    
    font-size: 20px; 
    padding-left: 10px;
}

.get_app {

	height: 900px;
	width: inherit;
	background-color: #f9f9f9;
}

.links {

	height: 100px;
	width: inherit;
}

.get_app .links img {

	height: 100px;
	width: inherit;
	
}

.app_info {

	width: inherit;
	display: flex;
	justify-content: center;
	
}
.app_info .block_info {
    
    height: 600px;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding-top: 70px; 
    padding-bottom: 100px;
}
.app_info .block_info .text1 {
    
    font-size: 40px; 
    font-weight: bold;
}
.app_info .block_info .text2 {
    
    color:grey; 
    font-size: 20px;
}
.app_info .block_info .text_block {
    
    height: 200px;
    color:rgb(92, 92, 92); 
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.app_info .block_info .text_block i {
    
    padding-right: 10px;
}
.app_info .block_info .button_text {
    
    display: flex; 
    align-items: center;
}
.app_info .block_info .button_text .button{
    
    height: 50px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.app_info .block_info .button_text .text {
    
    padding-left: 20px;
    color: grey;
}

.menu_info {

	height: 700px;
	width: inherit;
	background: linear-gradient(to top, #27d353, #00ff96);
	background-size: cover;
	color: white;
}
.menu_info i {
    
    text-align: center;
    font-size: 30px;
}

.menu_info .block_line1 {
    
    display: flex;
    height: 220px;
    justify-content: space-between;
    padding: 80px
}
.menu_info .block_line2 {
    
    display: flex;
    height: 220px;
    justify-content: space-between;
    padding: 80px
}
.menu_info .block_line1 div {
    
    width: 200px;
    display: flex;
    flex-direction: column;
}
.menu_info .block_line2 div {
    
    width: 200px;
    display: flex;
    flex-direction: column;
}

.dev_info {

	height: 480px;
	width: inherit;
	background-color: #f9f9f9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    color: grey;
}

.dev_info .text_block {
    
    width: 500px; 
    line-height: 30px;
}

.dev_info .author {
    
    color: black;
}

.join_list {

	height: 320px;
	width: inherit;
	background: linear-gradient(to top, #27d353, #00ff96);
	display: flex;
	flex-direction: column;
	text-align: center;
    justify-content: center;
   
}

.join_list div {
    
    color: white;
    padding-bottom: 20px;
}

.join_list textarea {
    
    resize: none; 
    width: 300px;
}

footer {
    
    height: 300px;
    width: inherit;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
}

footer .icons img {
    
    height: 50px;
    width: 50px;
    padding-bottom: 40px;
}
footer .icons {
    
    width: 300px;
    display: flex;
    justify-content: space-between;
}











